<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-init="col=['blue','red','black'];col2='red'" ng-controller="myCntrlr">
    <form>
        <input type="text" ng-model="name">
    </form>

    <p ng-bind="name"></p>
    <h1 ng-click="changeName()">{{firstName}}</h1>


    <p>{{5+5}}</p>
    <input type="text">{{col[2] + " "+ col2}} </input>

    <ul>
        <li ng-repeat="x in array">{{x}}</li>
    </ul>
</div>

<script>
    let app=angular.module("myApp",[]);

    app.controller("myCntrlr",function($scope){
        $scope.firstName='Kalpa';
        $scope.array=['abc','def','ghi'];
        $scope.changeName=function() {
            $scope.firstName='Teli';  
        };

    })

</script>

</body>
</html>